{% extends 'base.html' %}
{% block content %}





<div class="container mt-5 ">
    <div class="row flex-lg-nowrap mt-5">
        <div class="col mx-auto mt-5">
            <div class="row text-center">
                <div class="col-10 mb-3  d-block mx-auto ">
                    <div class="card ">
                        <div class="card-body">
                            <div class="e-profile">
                                <form action="" method="POST">
                                    <!-- div แก้รหัสผ่าน -->
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <!-- ฟอร์มเปลี่ยนรหัสผ่าน -->
                                                        <form method="POST" action="{% url 'changepassword'%}">
                                                            {% csrf_token %}
                                                            {% if error %}<p class="text-danger text-center">{{ error }}</p>{% endif %}
                                                            <label>Current Password</label>
                                                            <input class="form-control col-lg-5 d-block mx-auto"
                                                                type="password" name="password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input class="form-control col-lg-5 d-block mx-auto"
                                                            type="password" name="new_password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Confirm <span
                                                                class="d-none d-xl-inline">Password</span></label>
                                                        <input class="form-control col-lg-5 d-block mx-auto"
                                                            type="password" name="confirm_password"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end mb-3 mr-4">
                                            <!-- ปุ่ม เปลี่ยนรหัสผ่าน-->
                                            <button class="btn btn-success"  type="submit">Change Password</button>
                                        </div>
                                    </div>
                            </div>
                            </form>
                            <!-- ปิด div แก้รหัสผ่าน -->
                            </form>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>







{% endblock content %}