{% extends 'base.html' %}
{% block content %}



<div class="container ">


    <div class="row mt-5">
        <div class="col ">
            <form action="{% url 'register' %}" class="text-center  border border-light p-5" method="POST">
                {% csrf_token %}
                <h3 class="text-center mb-5">Sign Up</h3>
                {% if error %}<p class="text-danger text-center">{{ error }}</p>{% endif %}
                <div class="form-holder mb-2">
                    <input type="text" class="form-control required col-lg-5 d-block mx-auto " placeholder="National ID" name="national_id" maxlength="13" required>
                </div>
                <div class="form-holder mb-2  d-block " >
                        <select class="custom-select required d-block  mx-auto "  name="name_title" style="width:auto;" required>
                            <option selected disabled>---- กรุณาเลือกคำนำหน้าชื่อ / Select Name Titles ----</option>
                            <option value="นาย">นาย / Mr.</option>
                            <option value="นาง">นาง / Mrs.</option>
                            <option value="นางสาว">นางสาว / Miss</option>
                            <option value="เด็กหญิง">เด็กหญิง</option>
                            <option value="เด็กชาย">เด็กชาย </option>
                        </select>
                </div>
                <div class="form-holder mb-2">
                   
                    <input type="text" class="form-control required col-lg-5 d-block mx-auto" placeholder="First Name"  name="first_name" required>
                </div>
                <div class="form-holder mb-2">
                    <input type="text" class="form-control required col-lg-5 d-block mx-auto" placeholder="Last Name"  name="last_name" required>
                </div>
                <div class="form-holder mb-2  d-block " >
                        <select class="custom-select required d-block  mx-auto "  name="blood_type" style="width:auto;" required>
                            <option selected disabled>---- กรุณาเลือกกรุ๊ปเลือด / Select Blood Types ----</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                </div>
                <div class="form-holder mb-2">
                    <input class="form-control required col-lg-5 d-block mx-auto" placeholder="Date of Birth" class="textbox-n" type="date" name="dob">
                </div>

                <div class="form-holder mb-2">
                    <textarea class="form-control col-lg-5 d-block mx-auto" rows="3" placeholder="Address" name="address" required></textarea>
                    <small>ตัวอย่าง: 17/4 ซอยฉลองกรุง1 เขตลาดกระบัง แขวงลาดกระบัง จังหวัดกรุงเทพมหานคร 10520</small>
                </div>

                <div class="form-holder mb-2">

                    <input type="email" class="form-control required  col-lg-5 d-block mx-auto"placeholder="E-mail" name="email" required>
                </div>

                <div class="form-holder mb-2">

                    <input type="phone" class="form-control required  col-lg-5 d-block mx-auto"placeholder="Phone Number" name="phone" maxlength="10" required>
                </div>

                <div class="form-holder mb-2">
                    <input type="text" class="form-control required col-lg-5 d-block mx-auto " placeholder="Username" name="username" required>
                </div>

                <div class="form-holder mb-2">

                    <input type="password" class="form-control required  col-lg-5 d-block mx-auto" placeholder="Password" name="password1"
                        required>
                </div>
                <div class="form-holder mb-2">

                    <input type="password" class="form-control required  col-lg-5 d-block mx-auto" placeholder="Confirm Password" name="password2"
                        required>
                </div>
                <div class="my-4"><button type="submit" class="btn btn-success text-center">Register</button>
                </div>

            </form>



        </div>
    </div>
</div>

{% endblock content %}