{% extends 'base.html' %}
{% block content %}


<div class="container ">


    <div class="row mt-5">
        <div class="col ">
            <form action="{% url 'register_med' %}" class="text-center  border border-light p-5" method="POST">
                {% csrf_token %}
                <h3 class="text-center mb-5">Sign Up for <font style="color:#0076D8;">Medical Personnel</font></h3>
                    {{ user_form.as_p }}
                    {{ mp_form.as_p }}
                <div class="my-4"><button type="submit" class="btn btn-success text-center">Register</button>
                </div>

            </form>



        </div>
    </div>
</div>




{% endblock content %}