{% extends 'base.html' %}
{% block content %}


<style>
    .navnav {
        background-color: #2078D6;
        width: 100%;

    }
</style>



<div class="container mt-5 ">
    <div class="row flex-lg-nowrap mt-5">
        <div class="col mx-auto mt-5">
            <div class="row text-center">
                <div class="col-10 mb-3  d-block mx-auto ">
                    <div class="card ">
                        <div class="card-body">
                            <div class="e-profile">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <h4 class="card-title">Add Admitted Patient History</h4>
                                    <p class="card-title">(เพิ่มประวัติผู้ป่วยที่เข้ารับการรักษา)</p>
                                    <h5 class="card-title" style="color: tomato;">รหัสผู้ป่วย :
                                        {{patient.account_id_id}}</h5>
                                    <h5 class="card-title" style="color: tomato;">ชื่อผู้ป่วย :
                                        {{user.first_name}}&nbsp;{{user.last_name}}</h5>

                                    <div class="row mt-5">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>No.(ตรวจครั้งที่)</label>
                                                <input class="form-control text-center" type="text" name="admission_no" value="{{next_no}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Patient Types (ประเภทผู้ป่วย)</label>
                                                <select class="custom-select required d-block  mx-auto "
                                                    name="patient_types" style="width:auto;" required>
                                                    <option selected disabled>กรุณาเลือกประเภทผู้ป่วย / Select Patient
                                                        types
                                                    </option> ----</option>
                                                    <option value="ผู้ป่วยทั่วไป">ผู้ป่วยทั่วไป</option>
                                                    <option value="ผู้ป่วยฉุกเฉิน">ผู้ป่วยฉุกเฉิน</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Weight (น้ำหนัก)</label>
                                                <input class="form-control text-center" type="number" name="weight" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Height (ส่วนสูง)</label>
                                                <input class="form-control text-center" type="number" name="height" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Blood Pressure (ค่าความดัน)</label>
                                                <input class="form-control text-center" type="number" name="pressure" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Drug Allergy (การแพ้ยา)</label>
                                                <input class="form-control text-center" type="text" name="allergy" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label>Symptoms (อาการที่พบ)</label>
                                                <input class="form-control text-center" type="text" name="symptoms" value="">
                                                {% comment %} <textarea class="form-control" rows="2" name="symptoms"></textarea> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col d-flex justify-content-end  mr-4">
                                            <button class="btn btn-primary mt-3 " type="submit">Create</button>
                                        </div>
                                    </div>
                                </form>







                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>







{% endblock content %}