{% extends 'base.html' %}
{% block content %}
<!--  -->
<style>
  input[type="file"] {
    display: none;

  }

  .navnav{
  background-color:#D65D20; 
  width: 100%;

}

  .collapsing {
        height: 0;
        overflow: hidden;
        -webkit-transition: height .35s ease;
        -o-transition: height .35s ease;
        transition: height .35s ease;
    }


    #accordion .collapsing {
        transition: height 1s ease-in-out;
    }

  select {
    text-align-last: center;
  }
</style>





<div class="container mt-5 ">
  <div class="row flex-lg-nowrap mt-5">
    <div class="col mx-auto mt-5">
      <div class="row text-center">
        <div class="col-10 mb-3  d-block mx-auto ">
          <div class="card ">
            <div class="card-body">
              <div class="e-profile">


                <!-- ส่วนของชื่อ - นามสกุล / รูปภาพ / เปลี่ยนรูปภาพ / ชื่อ group -->
                <!-- โชว์รูปภาพ -->
                <div class="row">
                  <div class="col col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <img src="/static/image/patient m.png" style="width: 140px;"></img>
                      <!-- รูป profile -->
                    </div>
                  </div>
                </div>


                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <!-- ดึงชื่อ - นามสกุล -->
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.first_name}}&nbsp;{{user.last_name}}</h4>

                      
                  </div>
                  <!-- ดึงชื่อ group -->
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">Patient</span>
                  </div>
                </div>
                <!-- จบส่วนของชื่อ - นามสกุล / รูปภาพ / เปลี่ยนรูปภาพ / ชื่อ group -->
                <p class="text-success font-weight-bold">{{msg}}</p>

                <!-- เปิด tap -->
                <ul class="nav nav-tabs">

                  {% comment %} Tap แสดงเฉพาะบุคลากรทางคลินิก {% endcomment %}
                  <li class="nav-item"><a href="#patientprofile" data-toggle="tab" class="active nav-link">Patient Profile</a>
                  </li>
                  <li class="nav-item"><a href="#medicalhistory" data-toggle="tab" class="nav-link">Medical history</a>
                  </li>
                  <li class="nav-item"><a href="#admissionnote" data-toggle="tab" class="nav-link">Admission Note</a>
                  </li>
                  {% comment %} ปิด Tap แสดงเฉพาะบุคลากรทางคลินิก {% endcomment %}
                </ul>
                <!-- ปิด Tap -->

                <!-- เปิดฟอร์มสำหรับแก้ profile -->
                  <div class="tab-content pt-3">
                    <div class="tab-pane fade show active" id="profile">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="first_name" value="{{user.first_name}}" disabled>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="last_name" value="{{user.last_name}}" disabled>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Age</label>
                                <input class="form-control" type="text" name="age" value="{{patient.age}}" disabled>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Date of Birth</label>
                                <input style="width:100%; " value="{{ patient.dob|date:'Y-m-d' }}"
                                  class="form-control  mx-auto" type="date" name="dob" disabled>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Phone Number</label>
                                <input class="form-control" type="text" name="phone" value="{{patient.phone}}" disabled>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" value="{{user.email}}" name="email" disabled>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>Address</label>
                                <input class="form-control " rows="3" name="address" value="{{patient.address}}" disabled>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <!-- ปิดฟอร์มแก้ profile -->






                <!-- เปิด div สำหรับบุคลากร ดู patient profile -->
                <div class="tab-pane fade" id="patientprofile">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>First Name</label>
                              <input class="form-control" type="text" name="first_name" value="{{user.first_name}}"
                                disabled>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Last Name</label>
                              <input class="form-control" type="text" name="last_name" value="{{user.last_name}}"
                                disabled>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Age</label>
                              <input class="form-control" type="text" name="age" value="{{patient.age}}" disabled>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Date of Birth</label>
                              <input style="width:100%;" value="{{ patient.dob|date:'Y-m-d' }}"
                                class="form-control   mx-auto" type="date" id="date" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Phone Number</label>
                              <input class="form-control" type="text" name="phone" value="{{patient.phone}}" disabled>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" value="{{user.email}}" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Address</label>
                              <input class="form-control " rows="3" name="address" value="{{patient.address}}" disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- ปิด div สำหรับบุคลากรดู patient profile -->



                <!-- เปิดฟอร์มสำหรับแก้ medical history -->
                
                  <div class="tab-pane fade" id="medicalhistory">
                  <form method="POST" action="{% url 'patientprofile' user.id %}">
                  {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Patient No.</label>
                                <input class="form-control" type="text" name="patientno"
                                  value="{{patient.account_id_id}}" disabled>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Full Name</label>
                                <input class="form-control" type="text" name="fullname"
                                  value="{{user.first_name}}&nbsp;{{user.last_name}}" disabled>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Occupation (อาชีพ)</label>
                                <input class="form-control" type="text" name="occupation" value="{{m_history.occupation}}">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Congenital Disease (โรคประจำตัว)</label>
                                <input class="form-control" type="text" name="congenital_disease" value="{{m_history.congenital_disease}}">
                              </div>
                            </div>
                          </div>
                          <div>
                            <h4 class="text-center mt-4 mb-4" style="color:red;">Emergency contact</h4>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label style="color:red;">First Name</label>
                                <input class="form-control" type="text" name="fname_emergency" value="{{m_history.fname_emergency}}">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label style="color:red;">Last name</label>
                                <input class="form-control" type="text" name="lname_emergency" value="{{m_history.lname_emergency}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label style="color:red;">Relationship</label>
                                <input class="form-control" type="text" name="relationship_emergency" value="{{m_history.relationship_emergency}}">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label style="color:red;">Phone Number</label>
                                <input class="form-control" type="text" name="phone_emergency" value="{{m_history.phone_emergency}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label style="color:red;">Address (ที่อยู่ ที่ติดต่อได้)</label>
                                <input class="form-control " name="address_emergency" value="{{m_history.address_emergency}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end mb-3 mr-4">
                              <button class="btn btn-warning mt-3 mb-3" type="submit" name="savemedical">Save Changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </form>
                <!-- ปิดฟอร์มแก้ medical history -->





                <!-- เปิดdivสำหรับแก้  Admission note  -->
                  <div class="tab-pane fade" id="admissionnote">
                    <div class="row">
                      <div class="col">
                        <!-- div ดูประวัติเข้ารับการรักษา -->
                        <h4 class="text-center mb-3">ประวัติเข้ารับการรักษา</h4>
                        {% for i in admit %}
                        <div class="accordion " id="accordionExample">
                        
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <!-- ให้แสดงวันที่แต่ละครั้งที่มาทำการรักษา -->
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                  data-target="#admit{{i.id}}" aria-expanded="true" aria-controls="collapseOne">
                                  ตรวจครั้งที่ {{i.admission_no}} | วันที่ {{i.create_date}}
                                </button>
                                <!-- จบวันที่ที่แสดง -->
                              </h2>
                            </div>
                        

                            <!-- แสดงข้อมูลข้างใน -->
                            <div id="admit{{i.id}}" class="collapse" aria-labelledby="headingOne"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>No.(ตรวจครั้งที่)</label>
                                      <input class="form-control text-center text-center" type="text" name="admission_no" value="{{i.admission_no}}" disabled>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Patient Types (ประเภทผู้ป่วย)</label>
                                      <select class="custom-select d-block  mx-auto " name="patient_types" disabled>
                                        <option selected disabled class=" d-block mx-auto ">{{i.patient_types}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Weight (น้ำหนัก)</label>
                                      <input class="form-control text-center" type="text" name="weight" value="{{i.weight}}" disabled>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Height (ส่วนสูง)</label>
                                      <input class="form-control text-center" type="text" name="height" value="{{i.height}}" disabled>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Blood Pressure (ค่าความดัน)</label>
                                      <input class="form-control text-center" type="text" name="pressure" value="{{i.pressure}}" disabled>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Drug Allergy (การแพ้ยา)</label>
                                      <input class="form-control text-center" type="text" name="drug_allergy" value="{{i.drug_allergic}}" disabled>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col mb-3">
                                    <div class="form-group">
                                      <label>Symptoms (อาการที่พบ)</label>
                                      <input class="form-control text-center" rows="2" name="symptoms" value="{{i.symptoms}}" disabled>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- จบข้อมูลที่แสดง -->
                          </div>
                        
                        </div>
                        {% endfor %}

                        <!-- ปิด div  Admission note -->
                      </div>
                    </div>
                  </div>










              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock content %}