{% extends 'base.html' %}
{% block content %}

<style>

  .navnav{
  background-color:#D65D20; 
  width: 100%;

}

</style>

<div class="container ">
    <div class="row mt-5">
        <div class="col mt-5">

            <form role="form" method="POST" action="{% url 'search' %}">
                {% csrf_token %}

                <div class="row">
                    <div class="col-10 ml-2">
                        <input class="form-control col-12 d-block" type="text" name='search' placeholder="ค้นหาไอดีผู้ป่วย">
                        <small style="color: red;">*** ค้นหาได้เฉพาะรหัสประจำตัวผู้ป่วยหรือชื่อหรือนามสกุลผู้ป่วยเท่านั้น ***</small>
                    </div>
                    <input type="submit" value="search" class="btn btn-info btn-block col-1 h-75" id='seach_bt'> 
                </div>
            </form>
        
            <br>
            <br>
            <div class="list-group col-12  mx-auto d-block">
                <button type="button" class="list-group-item list-group-item-action" disabled>แสดงเฉพาะรหัสประจำตัวผู้ป่วย ชื่อ - นามสกุล</button>

                {% if match %}
                    {% for i in match%}
                    <div class="text-left">
                        <a href="{% url 'patientprofile' i.id %}">
                        <button type="button" class="list-group-item list-group-item-action">
                            <font style="color: tomato;">รหัสประจำตัวผู้ป่วย {{ i.id }}: </font> &nbsp;&nbsp;{{ i.first_name }}&nbsp;{{ i.last_name }}
                        </button>
                    </div>
                    {% endfor %}
                {% elif messages %}

                    <div class="text-center">
                        <button type="button" class="list-group-item list-group-item-action" disabled>
                            {% for k in messages %}
                                <font style="color: red;">{{ k }}</font>
                            {% endfor %}
                        </button>
                    </div>
                {% elif check %}
                    {% for i in pt %}
                    <div class="text-left">
                        <a href="{% url 'patientprofile' i.id %}">
                        <button type="button" class="list-group-item list-group-item-action">
                            <font style="color: tomato;">รหัสประจำตัวผู้ป่วย {{ i.id }}: </font> &nbsp;&nbsp;{{ i.first_name }}&nbsp;{{ i.last_name }}
                        </button>
                    </div>
                    {% endfor %}
            
                    
                {% endif %}
                
            </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock content %}