{% extends 'base.html' %}
{% block content %}

<style>
	body {
		background-image: url("/static/image/bgg.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		

	}
</style>

<!-- start banner Area -->

<div class="slider">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active" style=" background-image: url('/static/image/s1.jpg');">
				<div class="carousel-caption  d-md-block ">

					<h2 class="text-uppercase" style=" text-shadow: 2px 2px 10px black;">ระบบจองคิวคลินิกเวชกรรม KMITL
					</h2>
					<h3 class="text-uppercase" style="text-shadow: 2px 2px 10px black; color:white;">(Queue reservation
						system of Medical Centre KMITL)</h3>
				</div>
			</div>

			<!-- Slide Three - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('/static/image/s3.jpg')">
				<div class="carousel-caption d-md-block">
					<div style="background-color:black; opacity:0.8;">
						<h2 class="text-uppercase text-center" style=" text-shadow: 2px 2px 10px black;">คลินิกเวชกรรม
							KMITL เปิดให้บริการรับคิว&nbsp;Online&nbsp;ผ่าน Web Application ได้แล้ววันนี้</h2>
						<h4 class="text-uppercase text-center" style="color:white; text-shadow: 2px 2px 10px black;">
							โดยเพียงทำการ Register ก่อน login ท่านก็สามารถทำการรับคิวออนไลน์ได้
						</h4>
					</div>
				</div>
			</div>
			<!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('/static/image/s2.jpg')">

			</div>
		</div>

		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<!-- End banner Area -->



<!-- Start regis Area -->
<section class="blog-area section-gap" id="blog" style="background-image: url('static/image/new.jpg');">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 pb-30 header-text">
				<h2  style="color: darkslategray;">ขั้นตอนการรับคิวออนไลน์ของคลินิกเวชกรรม KMITL</h2>

			</div>
		</div>
		<div class="row">
			<div class="single-blog col-lg-4 col-md-4">

				<h4>
					<p class="text-center" style="color: darkslategray;">1. สมัครสมาชิกก่อนทำการรับคิว</p>

					<img src="/static/image/regis.png" width="85%" class="mt-1 shadow   rounded">
				</h4>


			</div>
			<div class="single-blog col-lg-4 col-md-4">
			
				<h4>
					<p class="text-center" style="color: darkslategray;">2. ล็อกอินเข้าสู่ระบบ</p>
				</h4>
				<img src="/static/image/login.png" width="90%" class="mt-1 shadow    rounded">
				
			</div>
			<div class="single-blog col-lg-4 col-md-4">
				<h4>
					<p class="text-center" style="color: darkslategray;">3.รับคิวได้เลย</p>
				</h4>
				<img src="/static/image/queue.png" width="90%" class="mt-1 shadow    rounded">
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end regis Area -->


<!-- Start About Area -->
<section class="About-area section-gap img-fluid"  style="background-image: url('/static/image/20437099.jpg'); background-size: cover; overflow: hidden;">
	<div class="row">
		<div class="col">
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/000.png"  class="img-fluid"> 
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/pp2-370x553.png" >
		</div>
		<div class="col">
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/01mon.png"  class="img-fluid"width="auto;">
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/02tue.png"  class="img-fluid"width="auto;">
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/03wed.png"  class="img-fluid"width="auto;">
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/04thu.png"  class="img-fluid"width="auto;">
			<img src="http://medicalcenter.kmitl.ac.th/wp-content/uploads/2019/05/05fri.png"  class="img-fluid"	width="auto;">
		</div>
	</div>
</section>
<!-- End About Area -->
{% comment %} 
<!-- Start gallery Area -->
<section class="gallery-area section-gap" id="gallery">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 pb-30 header-text">
				<h1 class="text-white">My Recent Photos</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br>
					labore et dolore magna aliqua.
				</p>
			</div>
		</div>
		<div class="gal">
			<a href="img/p1.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p2.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p3.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p4.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p5.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p6.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p7.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p8.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p9.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p10.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p11.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p12.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p13.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p14.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p15.jpg"><img src="static/image/patient fm.png" alt=""></a>
			<a href="img/p16.jpg"><img src="static/image/patient fm.png" alt=""></a>

		</div>
	</div>
</section>
 {% endcomment %}

			<!-- <div class="col-lg-3 callto-right">
				<a href="#" class="btn-white btn text-uppercase">Generate queue now</a>
			</div> -->




{% endblock content %}