{% extends 'base.html' %}
{% block content %}

<style>
.navnav{
    background-color:#B022EA; 
    width: 100%;
  
  }
</style>


<div class="container mt-5 ">
    <div class="row flex-lg-nowrap mt-5">
        <div class="col mx-auto mt-5">
            <div class="row text-center">
                <div class="col-10 mb-3  d-block mx-auto ">
                    <div class="card ">
                        <div class="card-body">
                            <div class="e-profile">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <h4 class="card-title">Your Appointment</h4>
                                    <p class="card-title">การนัดของคุณ ในวันที่ {{appointment.next_date}} เวลาประมาณการ {{appointment.app_time}}</p>
                                    <h5 class="card-title" style="color: tomato;">รหัสผู้ป่วย :
                                        {{patient.account_id_id}}</h5>
                                    <h5 class="card-title" style="color: tomato;">ชื่อผู้ป่วย :
                                        {{user.first_name}}&nbsp;{{user.last_name}}
                                        &nbsp;</h5>

                                    <div class="row mt-5">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>นัดพบแพทย์</label>
                                                <input class="form-control text-center" type="text" name="" value="{{med_firstname}}&nbsp;{{med_lastname}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Time (เวลาประมาณการที่นัด)</label>
                                                <input class="form-control text-center" type="text" name="app_time" value="{{appointment.app_time}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Create Date (วันที่สร้างการนัด)</label>
                                                <input class="form-control text-center" type="text" name="create_date" value="{{appointment.create_date}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Next Date (วันที่นัดในครั้งถัดไป)</label>
                                                <input style="width:100%;"
                                                class="form-control text-center mx-auto" type="text" name="next_date" value="{{appointment.next_date}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label>Reason (เหตุที่นัด)</label>
                                                <input class="form-control text-center "name="reason" value="{{appointment.reason}}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col d-flex justify-content-end  mr-4">
                                        <a href="{% url 'appointment_check'  %}">
                                            <button class="btn btn-success mt-3 " type="button">Back</button>
                                        </div>
                                        </a>
                                    </div>
                                </form>







                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}

