{% extends 'base.html' %}
{% block content %}

<div class="container ">


    <div class="row">
        <div class="col ">
            <form action="{% url 'register' %}" class="text-center  border border-light p-5" method="POST">
                {% csrf_token %}
                <h3 class="text-center mb-5">Sign Up</h3>
                {% if error %}<p class="text-danger text-center">{{ error }}</p>{% endif %}
                <div class="form-holder mb-2">

                    <input type="text" class="form-control required col-lg-5 d-block mx-auto " placeholder="Username" name="username" required>
                </div>

                <div class="form-holder mb-2">
                   
                    <input type="text" class="form-control required col-lg-5 d-block mx-auto" placeholder="First Name"  name="first_name" required>
                </div>
                <div class="form-holder mb-2">
  
                    <input type="text" class="form-control required col-lg-5 d-block mx-auto" placeholder="Last name"  name="last_name" required>
                </div>


               
                <div class="form-holder mb-2">

                    <input type="text" class="form-control required  col-lg-5 d-block mx-auto"placeholder="E-mail" name="email" required>
                </div>
                <div class="form-holder mb-2">

                    <input type="password" class="form-control required  col-lg-5 d-block mx-auto" placeholder="Password" name="password1"
                        required>
                </div>
                <div class="form-holder mb-2">

                    <input type="password" class="form-control required  col-lg-5 d-block mx-auto" placeholder="Confirm Password" name="password2"
                        required>
                </div>


                <div class="my-4"><button type="submit" class="btn btn-success text-center">Register</button>
                </div>

            </form>



        </div>
    </div>
</div>




{% endblock content %}