{% extends 'base.html' %}
{% block content %}

<style>
    .table th,td,tr {
        text-align: center;

    }

    td { text-align: left; }

    .table>thead>tr>th {
        vertical-align: baseline;

    }

    table {
    table-layout: auto;
    word-wrap: break-word;
}
</style>


<section class="section-gap">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 mx-auto">
                <h1 class=" text-black" style="font-size: 1.7em; ">หมายเลขคิวปัจจุบันคือ</h1>
                <h1 class="text-black" style="font-size: 10vw; ">1 </h1>
                <p>
                    วันที่ : วันนี้
                </p>
                <p>
                    เวลา : วันนี้
                </p>
            </div>

            <div class="col-md-9">
                <div class=" table-responsive">
                <table class="table table-bordered align-items-start">
                    <thead>
                        <tr>
                            <th scope="col">หมายเลขคิว</th>
                            <th scope="col">ผู้ป่วยที่ทำการกดคิว</th>
                            <th scope="col">มีนัด / ไม่มีนัด</th>
                            <th scope="col">แพทย์ที่นัดพบ</th>
                            <th scope="col" >สถานะ</th>
                            <th scope="col" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in queue %}
                        <tr>
                            <th scope="row">{{i.queue_no}}</th>
                            <td>
                                {% for j in patient %}
                                    {% if j.id == i.create_by_id %}
                                        {{j.first_name}} {{j.last_name}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% if i.doctor_id %}                             
                                    <label>มีนัด</label>
                                {% else %}
                                    <label>ไม่มีนัด</label>
                                {% endif %}
                            </td>
                            <td>
                                {% for j in doctor %}
                                    {% if j.id == i.doctor_id %}
                                        {{j.first_name}} {{j.last_name}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td >
                                {% if i.status == 0 %}                             
                                    <p class="text-warning" style="text-align: center;">waiting</p>
                                {% else %}
                                    <p class="text-success" style="text-align: center;">Finished</p>
                                {% endif %}
                                
                            </td>
                            <td style="text-align: center;">
                                <form action="" method="POST">
                                    <button type="submit" class="btn btn-success text-uppercase" name="">&nbsp;เรียกคิว&nbsp;</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</section>

{% endblock content %}