{% extends 'base.html' %}
{% block content %}

<style>input[type="file"] {  
    display: none;  
    
}  </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container mt-5 ">
<div class="row flex-lg-nowrap mt-5">


  <div class="col mx-auto mt-5">
    <div class="row text-center">
      <div class="col-10 mb-3  d-block mx-auto ">
        <div class="card ">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <img src="/static/image/patient m.png" style="width: 140px;"></img>
                    </div>
                </div>
               
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                    <div class="mt-2">
                      <label for="file-upload" class="custom-file-upload btn btn-primary">
                        <img src="/static/image/camera.png" width="13%;"></img>
                        <span>Change Photo</span>
                      </label>
                        <input id="file-upload" type="file"/>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">ดึงชื่อ group permission</span>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs" >
                <li class="nav-item"><a href="#profile" data-toggle="tab"  class="active nav-link">Profile</a></li>
                <li class="nav-item"><a href="#changepassword"  data-toggle="tab"    class="nav-link">Change Password</a></li>
              </ul>
              <form method="POST" action="">
              {% csrf_token %}
              <div class="tab-content pt-3">
                <div class="tab-pane fade show active" id="profile">
                  <form class="form" >
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>First Name</label>
                              <input class="form-control" type="text" name="first_name" value="ดึงมา">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Last Name</label>
                              <input class="form-control" type="text" name="last_name" placeholder="johnny.s" value="ดึงมา">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Age</label>
                              <input class="form-control" type="text" name="age" value="ดึงมา">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input style="width:100%;" value="2000-07-22" class="form-control  col-lg-5 d-block mx-auto" type="date"  id="date">
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Phone Number</label>
                                <input class="form-control" type="text" name="phone" value="ดึงมา">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="text"  value="ดึงมา">
                                </div>
                            </div>
                          </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Address</label>
                              <textarea class="form-control " rows="3"  name="address" >ดึงมา</textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                   
                        <div class="tab-pane fade"  id="changepassword">
                          <form class="form" >
                            <div class="row">
                              <div class="col">
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Current Password</label>
                                          <input class="form-control col-lg-5 d-block mx-auto" type="password" >
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>New Password</label>
                                          <input class="form-control col-lg-5 d-block mx-auto" type="password">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                          <input class="form-control col-lg-5 d-block mx-auto" type="password"></div>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end mb-3 mr-4">
                                  <button class="btn btn-primary" type="submit">Save Changes</button>
                                </div>
                              </div>
                        </form>
                    </div>

                   

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
</div>

{% endblock content %}