{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    {% comment %}
    <link rel="shortcut icon" href="img/elements/fav.png"> {% endcomment %}
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Queue Reservation System KMITl</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        body {
            background-image: url("/static/image/bgg.jpg") ;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .navbar-brand {
          color: #fff !important; 
        }
        .navbar-brand:hover, .navbar-brand:focus {
        color: yellow  !important;
        }
    </style>
</head>

<body class="text-center">


         
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color:#F2793C; width: 100%; ">
        <a class="navbar-brand " href="{% url 'index' %}" style="color: white;">
         Home
        </a>
        <button class="navbar-toggler type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarNavDropdown" >
          <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item mypage align-self-center">
                        <h5 class="my-auto text-success">User: {{request.user.username}}</h5>
                    </li>
                      <button onclick="window.location.href = {% url 'logout' %}" class="btn btn-outline-light mx-5">Logout</button>
                    {% else %}
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button onclick="window.location.href = {% url 'login' %}" class="btn btn-outline-light my-2 my-sm-0">Login</button>
                      <button onclick="window.location.href = {% url 'register' %}" class="btn btn-outline-light my-2 my-sm-0">Sign Up</button>
                    </div>
                    {% comment %} <li class="nav-item mypage align-self-center">
                    <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
                    <a class="nav-link" href="{% url 'login' %}">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="">Login</button>
                    </a>
                    <a class="nav-link" href="{% url 'register' %}">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="">Register</button>
                    </a>
                    </div>
                    </li> {% endcomment %}
                    {% endif %}
                </ul> 
          {% comment %} <ul class="nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"  style="font-size: 1.2em;">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}"  style="font-size: 1.2em;">Sign Up</a>
            </li>
          </ul> {% endcomment %}
        </div>
      </nav>


        {% block content %}

        {% endblock content %}



        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                        href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </footer>
</body>

</html>